body{
background-image: url("../static/bgimage.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

h1{
color: brown;
}

p{
font-size: 25px;
color: brown;
}

input{
width: 50%;
padding: 10px;
text-align: center;
}

button{
width: 52%;
padding:10px;
}

footer{
font-size: 30px;
color: orange;
}

.p1{
color: white;
}

a{
color: white;
}

